@model GroceryProject.Dal.Entities.Category
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<br/>
@using (Html.BeginForm("Create", "Category",FormMethod.Post))
{
    @Html.LabelFor(p=>p.CategoryName,"Kategori Adı")
    @Html.TextBoxFor(p=>p.CategoryName,new {@class="form-control"})
    @Html.ValidationMessageFor(p=>p.CategoryName,"",new {@style="color: red"})
    <br/>
    @Html.LabelFor(p=>p.Description,"Açıklama")
    @Html.TextBoxFor(p=>p.Description,new {@class="form-control"})
    <br/>
    <button class="btn btn-info">Kaydet</button>
}

